.main{
    height: 500px;
    width: 500px;
    border: 10px solid black;
    border-radius: 10px;

}
.mois{
    height: 70px;
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    
}

.flex{
    display: flex;
    justify-content: center;
}
#jours{
    height: 60px;
    width: 60px;
    color: black;
    border: 5px white solid;
    border-radius: 10px;
    

    
}

#jours:hover{
    border: solid 5px black;

}



#jour{
    display: flex;
flex-wrap: wrap;
}

button{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border:  red solid 2px;
    background-color: orange;
}
#seman{
height: 20px;
background-color: orange;
margin-top: 5px;
border-radius: 10px;
}